<a href="https://colab.research.google.com/github/owepper/BSC_DPDM2025/blob/main/Midterm_663020287_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#‡∏Ç‡πâ‡∏≠ 1 Import data

In [6]:
from google.colab import drive
import pandas as pd
import os
import glob

# 1. ‡πÄ‡∏ä‡∏∑‡πà‡∏≠‡∏°‡∏ï‡πà‡∏≠ Google Drive
drive.mount('/content/drive')

# 2. ‡∏Å‡∏≥‡∏´‡∏ô‡∏î Path ‡∏´‡∏•‡∏±‡∏Å (‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡πÄ‡∏ß‡πâ‡∏ô‡∏ß‡∏£‡∏£‡∏Ñ‡πÉ‡∏´‡πâ‡∏î‡∏µ‡∏ô‡∏∞‡∏Ñ‡∏£‡∏±‡∏ö)
base_path = '/content/drive/MyDrive/BSC midterm'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [10]:
stations_file = os.path.join(base_path, '/content/drive/MyDrive/BSC midterm /Input - (Operation Daily rain from API_ 2025)/Stations in the model_HII.csv')
df_stations = pd.read_csv(stations_file)

print("--- ‡πÇ‡∏Ñ‡∏£‡∏á‡∏™‡∏£‡πâ‡∏≤‡∏á‡πÑ‡∏ü‡∏•‡πå Stations ---")
df_stations.info()
display(df_stations.head())

--- ‡πÇ‡∏Ñ‡∏£‡∏á‡∏™‡∏£‡πâ‡∏≤‡∏á‡πÑ‡∏ü‡∏•‡πå Stations ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385 entries, 0 to 384
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Node    385 non-null    object
 1   Lat     385 non-null    float64
 2   Long    385 non-null    float64
dtypes: float64(2), object(1)
memory usage: 9.2+ KB

   Node        Lat        Long
0  ACRU  15.788054  104.642235
1  BBHN   9.536913   98.579490
2  BBUA  17.372976  103.984436
3  BCNG  17.386840  103.290870
4  BDAR  14.587073  102.495190

**‡∏Ñ‡∏≥‡∏≠‡∏ò‡∏¥‡∏ö‡∏≤‡∏¢‡∏Ñ‡∏ß‡∏≤‡∏°‡∏´‡∏°‡∏≤‡∏¢‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå (Stations in the model_HII)**

Node: ‡∏£‡∏´‡∏±‡∏™‡∏õ‡∏£‡∏∞‡∏à‡∏≥‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏´‡∏£‡∏∑‡∏≠‡∏ä‡∏∑‡πà‡∏≠‡∏¢‡πà‡∏≠‡∏Ç‡∏≠‡∏á‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ï‡∏£‡∏ß‡∏à‡∏ß‡∏±‡∏î (Station Code/ID) ‡∏ó‡∏µ‡πà‡πÉ‡∏ä‡πâ‡∏£‡∏∞‡∏ö‡∏∏‡∏ï‡∏±‡∏ß‡∏ï‡∏ô‡∏Ç‡∏≠‡∏á‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡πÇ‡∏ó‡∏£‡∏°‡∏≤‡∏ï‡∏£‡πÉ‡∏ô‡πÇ‡∏°‡πÄ‡∏î‡∏•

Lat: ‡∏Ñ‡πà‡∏≤‡∏•‡∏∞‡∏ï‡∏¥‡∏à‡∏π‡∏î (Latitude) ‡∏Ç‡∏≠‡∏á‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ ‡πÅ‡∏™‡∏î‡∏á‡∏û‡∏¥‡∏Å‡∏±‡∏î‡∏ï‡∏≥‡πÅ‡∏´‡∏ô‡πà‡∏á‡∏ó‡∏≤‡∏á‡∏†‡∏π‡∏°‡∏¥‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡πÉ‡∏ô‡πÅ‡∏ô‡∏ß‡πÄ‡∏´‡∏ô‡∏∑‡∏≠-‡πÉ‡∏ï‡πâ

Long: ‡∏Ñ‡πà‡∏≤‡∏•‡∏≠‡∏á‡∏à‡∏¥‡∏à‡∏π‡∏î (Longitude) ‡∏Ç‡∏≠‡∏á‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ ‡πÅ‡∏™‡∏î‡∏á‡∏û‡∏¥‡∏Å‡∏±‡∏î‡∏ï‡∏≥‡πÅ‡∏´‡∏ô‡πà‡∏á‡∏ó‡∏≤‡∏á‡∏†‡∏π‡∏°‡∏¥‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡πÉ‡∏ô‡πÅ‡∏ô‡∏ß‡∏ï‡∏∞‡∏ß‡∏±‡∏ô‡∏≠‡∏≠‡∏Å-‡∏ï‡∏∞‡∏ß‡∏±‡∏ô‡∏ï‡∏Å

In [14]:
historical_path = '/content/drive/MyDrive/BSC midterm /Daily rain - (Statistics 2012-2024)/hii_daily_rain.csv'

df_historical = pd.read_csv(historical_path)

print("‚úÖ ‡πÇ‡∏´‡∏•‡∏î‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏¢‡πâ‡∏≠‡∏ô‡∏´‡∏•‡∏±‡∏á‡πÄ‡∏™‡∏£‡πá‡∏à‡πÅ‡∏•‡πâ‡∏ß!")
print(f"‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÅ‡∏ñ‡∏ß‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î: {len(df_historical):,} ‡πÅ‡∏ñ‡∏ß")
df_historical.info()

‚úÖ ‡πÇ‡∏´‡∏•‡∏î‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏¢‡πâ‡∏≠‡∏ô‡∏´‡∏•‡∏±‡∏á‡πÄ‡∏™‡∏£‡πá‡∏à‡πÅ‡∏•‡πâ‡∏ß!
‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÅ‡∏ñ‡∏ß‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î: 3,768,463 ‡πÅ‡∏ñ‡∏ß
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3768463 entries, 0 to 3768462
Data columns (total 13 columns):
 #   Column            Dtype
---  ------            -----
 0   station_code      object
 1   measure_datetime  object
 2   data              float64
 3   station_name      object
 4   latitude          float64
 5   longitude         float64
 6   quality_flag      object
 7   basin             object
 8   sub_basin         object
 9   tambon            object
 10  amphoe            object
 11  province          object
 12  data_type         object
dtypes: float64(3), object(10)
memory usage: 373.8+ MB

**‡∏Ñ‡∏≥‡∏≠‡∏ò‡∏¥‡∏ö‡∏≤‡∏¢‡∏Ñ‡∏ß‡∏≤‡∏°‡∏´‡∏°‡∏≤‡∏¢‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå (hii_daily_rain.csv)**

station_code: ‡∏£‡∏´‡∏±‡∏™‡∏õ‡∏£‡∏∞‡∏à‡∏≥‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ï‡∏£‡∏ß‡∏à‡∏≠‡∏≤‡∏Å‡∏≤‡∏® (‡πÉ‡∏ä‡πâ‡∏™‡∏≥‡∏´‡∏£‡∏±‡∏ö‡πÄ‡∏ä‡∏∑‡πà‡∏≠‡∏°‡πÇ‡∏¢‡∏á‡∏Å‡∏±‡∏ö‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå Node ‡πÉ‡∏ô‡πÑ‡∏ü‡∏•‡πå‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ)

measure_datetime: ‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡πÅ‡∏•‡∏∞‡πÄ‡∏ß‡∏•‡∏≤‡∏ó‡∏µ‡πà‡∏ö‡∏±‡∏ô‡∏ó‡∏∂‡∏Å‡∏Å‡∏≤‡∏£‡∏ß‡∏±‡∏î‡∏Ñ‡πà‡∏≤

data: ‡∏õ‡∏£‡∏¥‡∏°‡∏≤‡∏ì‡∏ô‡πâ‡∏≥‡∏ù‡∏ô‡∏ó‡∏µ‡πà‡∏ß‡∏±‡∏î‡πÑ‡∏î‡πâ (‡∏´‡∏ô‡πà‡∏ß‡∏¢: ‡∏°‡∏¥‡∏•‡∏•‡∏¥‡πÄ‡∏°‡∏ï‡∏£)

station_name: ‡∏ä‡∏∑‡πà‡∏≠‡∏Ç‡∏≠‡∏á‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ï‡∏£‡∏ß‡∏à‡∏≠‡∏≤‡∏Å‡∏≤‡∏®

latitude / longitude: ‡∏û‡∏¥‡∏Å‡∏±‡∏î‡∏ï‡∏≥‡πÅ‡∏´‡∏ô‡πà‡∏á‡∏ó‡∏≤‡∏á‡∏†‡∏π‡∏°‡∏¥‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏Ç‡∏≠‡∏á‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ (‡∏•‡∏∞‡∏ï‡∏¥‡∏à‡∏π‡∏î/‡∏•‡∏≠‡∏á‡∏à‡∏¥‡∏à‡∏π‡∏î)

quality_flag: ‡∏£‡∏´‡∏±‡∏™‡∏£‡∏∞‡∏ö‡∏∏‡∏Ñ‡∏∏‡∏ì‡∏†‡∏≤‡∏û‡∏Ç‡∏≠‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• (‡πÉ‡∏ä‡πâ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏Ñ‡∏ß‡∏≤‡∏°‡∏ñ‡∏π‡∏Å‡∏ï‡πâ‡∏≠‡∏á‡∏Ç‡∏≠‡∏á‡∏Ñ‡πà‡∏≤‡∏ó‡∏µ‡πà‡∏ß‡∏±‡∏î‡πÑ‡∏î‡πâ)

basin / sub_basin: ‡∏ä‡∏∑‡πà‡∏≠‡∏•‡∏∏‡πà‡∏°‡∏ô‡πâ‡∏≥‡πÅ‡∏•‡∏∞‡∏•‡∏∏‡πà‡∏°‡∏ô‡πâ‡∏≥‡∏¢‡πà‡∏≠‡∏¢‡∏ó‡∏µ‡πà‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ï‡∏±‡πâ‡∏á‡∏≠‡∏¢‡∏π‡πà

tambon / amphoe / province: ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏µ‡πà‡∏ï‡∏±‡πâ‡∏á‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏£‡∏∞‡∏î‡∏±‡∏ö ‡∏ï‡∏≥‡∏ö‡∏•, ‡∏≠‡∏≥‡πÄ‡∏†‡∏≠ ‡πÅ‡∏•‡∏∞‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î

data_type: ‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó‡∏Ç‡∏≠‡∏á‡∏ä‡∏∏‡∏î‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•

In [15]:
import glob
import os

# ‡πÉ‡∏ä‡πâ Path ‡∏ó‡∏µ‡πà‡∏Ñ‡∏∏‡∏ì‡∏£‡∏±‡∏ô‡∏ú‡πà‡∏≤‡∏ô‡πÅ‡∏ô‡πà‡∏ô‡∏≠‡∏ô (‡∏Å‡πä‡∏≠‡∏õ‡∏õ‡∏µ‡πâ‡∏°‡∏≤‡∏à‡∏≤‡∏Å‡πÇ‡∏Ñ‡πâ‡∏î‡∏ó‡∏µ‡πà‡∏Ñ‡∏∏‡∏ì‡∏ó‡∏≥‡∏™‡∏≥‡πÄ‡∏£‡πá‡∏à)
input_base = '/content/drive/MyDrive/BSC midterm /Input - (Operation Daily rain from API_ 2025)'

# ‡∏™‡∏£‡πâ‡∏≤‡∏á Pattern ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡πÄ‡∏Ç‡πâ‡∏≤‡πÑ‡∏õ‡πÉ‡∏ô‡πÇ‡∏ü‡∏•‡πÄ‡∏î‡∏≠‡∏£‡πå‡∏£‡∏≤‡∏¢‡πÄ‡∏î‡∏∑‡∏≠‡∏ô (2025-07, 2025-08, ...) ‡πÅ‡∏•‡∏∞‡∏î‡∏∂‡∏á .csv ‡∏ó‡∏∏‡∏Å‡πÑ‡∏ü‡∏•‡πå
search_pattern = os.path.join(input_base, '2025-*', '*.csv')
all_daily_files = glob.glob(search_pattern)

print(f"üîé ‡∏ï‡∏£‡∏ß‡∏à‡∏û‡∏ö‡πÑ‡∏ü‡∏•‡πå .csv ‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î: {len(all_daily_files)} ‡πÑ‡∏ü‡∏•‡πå")

if len(all_daily_files) > 0:
    # ‡∏ß‡∏ô‡∏•‡∏π‡∏õ‡∏≠‡πà‡∏≤‡∏ô‡∏ó‡∏∏‡∏Å‡πÑ‡∏ü‡∏•‡πå‡πÅ‡∏•‡πâ‡∏ß‡∏ô‡∏≥‡∏°‡∏≤‡∏£‡∏ß‡∏°‡∏Å‡∏±‡∏ô (Concatenate)
    df_operation_2025 = pd.concat((pd.read_csv(f) for f in all_daily_files), ignore_index=True)

    print("‚úÖ ‡∏£‡∏ß‡∏°‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏£‡∏≤‡∏¢‡∏ß‡∏±‡∏ô‡∏õ‡∏µ 2025 ‡∏™‡∏≥‡πÄ‡∏£‡πá‡∏à!")
    print(f"‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏£‡∏ß‡∏°‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î: {len(df_operation_2025):,} ‡πÅ‡∏ñ‡∏ß")

    # ‡πÅ‡∏™‡∏î‡∏á‡πÇ‡∏Ñ‡∏£‡∏á‡∏™‡∏£‡πâ‡∏≤‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•
    print("\n--- ‡πÇ‡∏Ñ‡∏£‡∏á‡∏™‡∏£‡πâ‡∏≤‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• (Data Structure) ‡∏Ç‡∏≠‡∏á‡∏õ‡∏µ 2025 ---")
    df_operation_2025.info()
    display(df_operation_2025.head())
else:
    print("‚ùå ‡∏¢‡∏±‡∏á‡∏î‡∏∂‡∏á‡πÑ‡∏ü‡∏•‡πå‡πÑ‡∏°‡πà‡πÑ‡∏î‡πâ! ‡∏Å‡∏£‡∏∏‡∏ì‡∏≤‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏ß‡πà‡∏≤‡πÉ‡∏ô‡πÇ‡∏ü‡∏•‡πÄ‡∏î‡∏≠‡∏£‡πå‡∏£‡∏≤‡∏¢‡πÄ‡∏î‡∏∑‡∏≠‡∏ô‡∏°‡∏µ‡πÑ‡∏ü‡∏•‡πå .csv ‡∏≠‡∏¢‡∏π‡πà‡∏à‡∏£‡∏¥‡∏á‡∏´‡∏£‡∏∑‡∏≠‡πÑ‡∏°‡πà")

üîé ‡∏ï‡∏£‡∏ß‡∏à‡∏û‡∏ö‡πÑ‡∏ü‡∏•‡πå .csv ‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î: 187 ‡πÑ‡∏ü‡∏•‡πå
‚úÖ ‡∏£‡∏ß‡∏°‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏£‡∏≤‡∏¢‡∏ß‡∏±‡∏ô‡∏õ‡∏µ 2025 ‡∏™‡∏≥‡πÄ‡∏£‡πá‡∏à!
‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏£‡∏ß‡∏°‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î: 180,700 ‡πÅ‡∏ñ‡∏ß

--- ‡πÇ‡∏Ñ‡∏£‡∏á‡∏™‡∏£‡πâ‡∏≤‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• (Data Structure) ‡∏Ç‡∏≠‡∏á‡∏õ‡∏µ 2025 ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180700 entries, 0 to 180699
Data columns (total 8 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   rainfall_datetime       176886 non-null  object
 1   rainfall_datetime_calc  176886 non-null  object
 2   rainfall_value          176882 non-null  float64
 3   tele_station_id         173072 non-null  float64
 4   tele_station_oldcode    168021 non-null  object
 5   measure_datetime        180700 non-null  object
 6   station_code            3814 non-null    object
 7   value                   3814 non-null    float64
dtypes: float64(3), object(5)
memory usage: 11.0+ MB

,rainfall_datetime,rainfall_datetime_calc,rainfall_value,tele_station_id,tele_station_oldcode,measure_datetime,station_code,value
0,2025-08-02 00:00:00+07:00,2025-08-02T07:00:00+07:00,0.0,493.0,YOM004,2025-08-01,NaN,NaN
1,2025-08-02 00:00:00+07:00,2025-08-02T07:00:00+07:00,0.0,495.0,VLGE36,2025-08-01,NaN,NaN
2,2025-08-02 00:00:00+07:00,2025-08-02T07:00:00+07:00,0.2,496.0,SNGT,2025-08-01,NaN,NaN
3,2025-08-02 00:00:00+07:00,2025-08-02T07:00:00+07:00,0.0,497.0,WCHN,2025-08-01,NaN,NaN
4,2025-08-02 00:00:00+07:00,2025-08-02T07:00:00+07:00,0.0,498.0,NMKI,2025-08-01,NaN,NaN

**‡∏Ñ‡∏≥‡∏≠‡∏ò‡∏¥‡∏ö‡∏≤‡∏¢‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• Input - (Operation Daily rain from API_ 2025)**


*   rainfall_datetime: ‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡πÅ‡∏•‡∏∞‡πÄ‡∏ß‡∏•‡∏≤‡∏ö‡∏±‡∏ô‡∏ó‡∏∂‡∏Å‡∏õ‡∏£‡∏¥‡∏°‡∏≤‡∏ì‡∏ù‡∏ô
*   rainfall_datetime_calc: ‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡πÅ‡∏•‡∏∞‡πÄ‡∏ß‡∏•‡∏≤‡∏ó‡∏µ‡πà‡∏õ‡∏£‡∏±‡∏ö‡∏à‡∏π‡∏ô‡πÄ‡∏û‡∏∑‡πà‡∏≠‡πÉ‡∏ä‡πâ‡∏Ñ‡∏≥‡∏ô‡∏ß‡∏ì
*   rainfall_value: ‡∏õ‡∏£‡∏¥‡∏°‡∏≤‡∏ì‡∏ô‡πâ‡∏≥‡∏ù‡∏ô (‡∏´‡∏ô‡πà‡∏ß‡∏¢: ‡∏°‡∏¥‡∏•‡∏•‡∏¥‡πÄ‡∏°‡∏ï‡∏£)
*   tele_station_id: ‡∏£‡∏´‡∏±‡∏™‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡πÇ‡∏ó‡∏£‡∏°‡∏≤‡∏ï‡∏£ (ID ‡∏´‡∏•‡∏±‡∏Å)
*   tele_station_oldcode: ‡∏£‡∏´‡∏±‡∏™‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡πÄ‡∏î‡∏¥‡∏° (‡∏£‡∏´‡∏±‡∏™‡∏≠‡πâ‡∏≤‡∏á‡∏≠‡∏¥‡∏á‡πÄ‡∏Å‡πà‡∏≤)
*   measure_datetime: ‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡πÅ‡∏•‡∏∞‡πÄ‡∏ß‡∏•‡∏≤‡∏ó‡∏µ‡πà‡πÄ‡∏ã‡∏ô‡πÄ‡∏ã‡∏≠‡∏£‡πå‡∏ß‡∏±‡∏î‡∏Ñ‡πà‡∏≤‡∏à‡∏£‡∏¥‡∏á
*   station_code: ‡∏£‡∏´‡∏±‡∏™‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ (‡∏ä‡∏∑‡πà‡∏≠‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏™‡∏≥‡∏£‡∏≠‡∏á)
*   value: ‡∏õ‡∏£‡∏¥‡∏°‡∏≤‡∏ì‡∏ô‡πâ‡∏≥‡∏ù‡∏ô (‡∏ä‡∏∑‡πà‡∏≠‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏™‡∏≥‡∏£‡∏≠‡∏á)

# ‡∏Å‡∏£‡∏≠‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÉ‡∏´‡πâ‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡πÄ‡∏â‡∏û‡∏≤‡∏∞‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡πÉ‡∏ô Stations in the model_HII.csv ‡πÅ‡∏™‡∏î‡∏á‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏Å‡πà‡∏≠‡∏ô/‡∏´‡∏•‡∏±‡∏á‡∏Å‡∏£‡∏≠‡∏á

In [22]:
# --- 1. ‡πÄ‡∏ï‡∏£‡∏µ‡∏¢‡∏°‡∏£‡∏≤‡∏¢‡∏ä‡∏∑‡πà‡∏≠‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ï‡πâ‡∏ô‡πÅ‡∏ö‡∏ö (Master List) ---
# ‡πÅ‡∏õ‡∏•‡∏á‡πÄ‡∏õ‡πá‡∏ô String ‡πÅ‡∏•‡∏∞‡∏ï‡∏±‡∏î‡∏ä‡πà‡∏≠‡∏á‡∏ß‡πà‡∏≤‡∏á‡πÄ‡∏û‡∏∑‡πà‡∏≠‡πÉ‡∏´‡πâ‡∏à‡∏±‡∏ö‡∏Ñ‡∏π‡πà‡πÑ‡∏î‡πâ‡πÅ‡∏°‡πà‡∏ô‡∏¢‡∏≥ 100%
valid_nodes = df_stations['Node'].astype(str).str.strip().unique()
print(f"‚úÖ ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡πÄ‡∏õ‡πâ‡∏≤‡∏´‡∏°‡∏≤‡∏¢‡πÉ‡∏ô‡πÇ‡∏°‡πÄ‡∏î‡∏•: {len(valid_nodes)} ‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ")

# --- 2. ‡∏à‡∏±‡∏î‡∏Å‡∏≤‡∏£‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏õ‡∏µ 2025 (df_operation_2025) ---
# ‡πÅ‡∏Å‡πâ‡πÑ‡∏Ç: ‡πÉ‡∏ä‡πâ tele_station_oldcode (‡∏ó‡∏µ‡πà‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡∏≠‡∏±‡∏Å‡∏©‡∏£) ‡πÅ‡∏ó‡∏ô tele_station_id (‡∏ó‡∏µ‡πà‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç)
# ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡πÉ‡∏´‡πâ‡∏ï‡∏£‡∏á‡∏Å‡∏±‡∏ö‡∏£‡∏π‡∏õ‡πÅ‡∏ö‡∏ö "Node" ‡πÉ‡∏ô Master List
df_operation_2025['station_id_final'] = df_operation_2025['tele_station_oldcode'].fillna(df_operation_2025['station_code'])

# ‡πÅ‡∏õ‡∏•‡∏á‡πÄ‡∏õ‡πá‡∏ô String ‡πÅ‡∏•‡∏∞‡∏ï‡∏±‡∏î‡∏ä‡πà‡∏≠‡∏á‡∏ß‡πà‡∏≤‡∏á‡∏Å‡πà‡∏≠‡∏ô‡∏Å‡∏≤‡∏£‡∏Å‡∏£‡∏≠‡∏á
df_operation_2025['station_id_final'] = df_operation_2025['station_id_final'].astype(str).str.strip()

# ‡∏ô‡∏±‡∏ö‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏Å‡πà‡∏≠‡∏ô‡∏Å‡∏£‡∏≠‡∏á
stations_2025_before = df_operation_2025['station_id_final'].nunique()

# ‡∏Å‡∏£‡∏≠‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•: ‡πÄ‡∏Å‡πá‡∏ö‡πÄ‡∏â‡∏û‡∏≤‡∏∞‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ó‡∏µ‡πà‡∏≠‡∏¢‡∏π‡πà‡πÉ‡∏ô Node ‡πÄ‡∏ó‡πà‡∏≤‡∏ô‡∏±‡πâ‡∏ô
df_2025_filtered = df_operation_2025[df_operation_2025['station_id_final'].isin(valid_nodes)].copy()

# ‡∏ô‡∏±‡∏ö‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏´‡∏•‡∏±‡∏á‡∏Å‡∏£‡∏≠‡∏á
stations_2025_after = df_2025_filtered['station_id_final'].nunique()


# --- 3. ‡∏à‡∏±‡∏î‡∏Å‡∏≤‡∏£‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏¢‡πâ‡∏≠‡∏ô‡∏´‡∏•‡∏±‡∏á (df_historical) ---
# ‡∏ó‡∏≥‡πÄ‡∏ä‡πà‡∏ô‡πÄ‡∏î‡∏µ‡∏¢‡∏ß‡∏Å‡∏±‡∏ô: ‡πÅ‡∏õ‡∏•‡∏á‡πÄ‡∏õ‡πá‡∏ô String ‡πÅ‡∏•‡∏∞‡∏ï‡∏±‡∏î‡∏ä‡πà‡∏≠‡∏á‡∏ß‡πà‡∏≤‡∏á
df_historical['station_code'] = df_historical['station_code'].astype(str).str.strip()
stations_hist_before = df_historical['station_code'].nunique()

df_hist_filtered = df_historical[df_historical['station_code'].isin(valid_nodes)].copy()
stations_hist_after = df_hist_filtered['station_code'].nunique()

# --- ‡πÅ‡∏™‡∏î‡∏á‡∏ú‡∏•‡∏•‡∏±‡∏û‡∏ò‡πå ---
print("\n" + "="*40)
print("üìä ‡∏™‡∏£‡∏∏‡∏õ‡∏ú‡∏•‡∏Å‡∏≤‡∏£‡∏Å‡∏£‡∏≠‡∏á‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ (‡πÅ‡∏Å‡πâ‡πÑ‡∏Ç‡πÅ‡∏•‡πâ‡∏ß)")
print("="*40)
print(f"1. ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏õ‡∏µ 2025 (Operation):")
print(f"   - ‡∏Å‡πà‡∏≠‡∏ô‡∏Å‡∏£‡∏≠‡∏á: {stations_2025_before:,} ‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ")
print(f"   - ‡∏´‡∏•‡∏±‡∏á‡∏Å‡∏£‡∏≠‡∏á (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡πÄ‡∏â‡∏û‡∏≤‡∏∞‡πÉ‡∏ô Model): {stations_2025_after:,} ‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ")

print(f"\n2. ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏¢‡πâ‡∏≠‡∏ô‡∏´‡∏•‡∏±‡∏á (Historical):")
print(f"   - ‡∏Å‡πà‡∏≠‡∏ô‡∏Å‡∏£‡∏≠‡∏á: {stations_hist_before:,} ‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ")
print(f"   - ‡∏´‡∏•‡∏±‡∏á‡∏Å‡∏£‡∏≠‡∏á (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡πÄ‡∏â‡∏û‡∏≤‡∏∞‡πÉ‡∏ô Model): {stations_hist_after:,} ‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ")
print("="*40)

‚úÖ ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡πÄ‡∏õ‡πâ‡∏≤‡∏´‡∏°‡∏≤‡∏¢‡πÉ‡∏ô‡πÇ‡∏°‡πÄ‡∏î‡∏•: 385 ‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ

========================================
üìä ‡∏™‡∏£‡∏∏‡∏õ‡∏ú‡∏•‡∏Å‡∏≤‡∏£‡∏Å‡∏£‡∏≠‡∏á‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ (‡πÅ‡∏Å‡πâ‡πÑ‡∏Ç‡πÅ‡∏•‡πâ‡∏ß)
========================================
1. ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏õ‡∏µ 2025 (Operation):
   - ‡∏Å‡πà‡∏≠‡∏ô‡∏Å‡∏£‡∏≠‡∏á: 1,515 ‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ
   - ‡∏´‡∏•‡∏±‡∏á‡∏Å‡∏£‡∏≠‡∏á (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡πÄ‡∏â‡∏û‡∏≤‡∏∞‡πÉ‡∏ô Model): 384 ‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ

2. ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏¢‡πâ‡∏≠‡∏ô‡∏´‡∏•‡∏±‡∏á (Historical):
   - ‡∏Å‡πà‡∏≠‡∏ô‡∏Å‡∏£‡∏≠‡∏á: 1,387 ‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ
   - ‡∏´‡∏•‡∏±‡∏á‡∏Å‡∏£‡∏≠‡∏á (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡πÄ‡∏â‡∏û‡∏≤‡∏∞‡πÉ‡∏ô Model): 385 ‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ
========================================

# ‡∏£‡∏∞‡∏ö‡∏∏‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢ (Record ‡∏ó‡∏µ‡πà‡∏´‡∏≤‡∏¢‡πÑ‡∏õ) ‡∏Ç‡∏≠‡∏á‡πÅ‡∏ï‡πà‡∏•‡∏∞‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ ‡πÅ‡∏™‡∏î‡∏á‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÅ‡∏•‡∏∞‡∏™‡∏±‡∏î‡∏™‡πà‡∏ß‡∏ô

In [26]:
import pandas as pd

# 1. ‡∏Å‡∏≥‡∏´‡∏ô‡∏î‡∏Ñ‡πà‡∏≤‡∏Ñ‡∏á‡∏ó‡∏µ‡πà‡∏™‡∏≥‡∏´‡∏£‡∏±‡∏ö‡∏ä‡πà‡∏ß‡∏á‡πÄ‡∏ß‡∏•‡∏≤ (1 ‡∏Å.‡∏Ñ. - 31 ‡∏ò.‡∏Ñ. 2025)
total_expected_days = 184

# 2. ‡∏ô‡∏±‡∏ö‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà "‡∏°‡∏µ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏à‡∏£‡∏¥‡∏á" (Actual Records) ‡∏ï‡πà‡∏≠‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ
# ‡πÉ‡∏ä‡πâ‡∏£‡∏´‡∏±‡∏™‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ó‡∏µ‡πà‡πÄ‡∏£‡∏≤‡∏à‡∏±‡∏ö‡∏Ñ‡∏π‡πà‡∏Å‡∏±‡∏ö‡πÇ‡∏°‡πÄ‡∏î‡∏•‡πÅ‡∏•‡πâ‡∏ß (Node)
df_2025_filtered['date_only'] = pd.to_datetime(df_2025_filtered['measure_datetime']).dt.date
actual_stats = df_2025_filtered.groupby('station_id_final')['date_only'].nunique().reset_index()
actual_stats.columns = ['Node', '‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡∏û‡∏ö‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏à‡∏£‡∏¥‡∏á']

# 3. ‡∏ô‡∏≥‡∏°‡∏≤‡πÄ‡∏õ‡∏£‡∏µ‡∏¢‡∏ö‡πÄ‡∏ó‡∏µ‡∏¢‡∏ö‡∏Å‡∏±‡∏ö‡∏£‡∏≤‡∏¢‡∏ä‡∏∑‡πà‡∏≠‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î‡πÉ‡∏ô‡πÇ‡∏°‡πÄ‡∏î‡∏• (385 ‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ)
missing_report = pd.DataFrame({'Node': df_stations['Node'].unique()})
missing_report = pd.merge(missing_report, actual_stats, on='Node', how='left').fillna(0)

# 4. ‡∏Ñ‡∏≥‡∏ô‡∏ß‡∏ì "‡∏à‡∏≥‡∏ô‡∏ß‡∏ô" ‡πÅ‡∏•‡∏∞ "‡∏™‡∏±‡∏î‡∏™‡πà‡∏ß‡∏ô" ‡∏ó‡∏µ‡πà‡∏´‡∏≤‡∏¢‡πÑ‡∏õ‡πÉ‡∏´‡πâ‡∏ä‡∏±‡∏î‡πÄ‡∏à‡∏ô
# ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡∏´‡∏≤‡∏¢‡πÑ‡∏õ = ‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡∏Ñ‡∏ß‡∏£‡∏à‡∏∞‡∏°‡∏µ (184) - ‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡∏û‡∏ö‡∏à‡∏£‡∏¥‡∏á
missing_report['‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡∏´‡∏≤‡∏¢‡πÑ‡∏õ (‡∏ß‡∏±‡∏ô)'] = total_expected_days - missing_report['‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡∏û‡∏ö‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏à‡∏£‡∏¥‡∏á']

# ‡∏™‡∏±‡∏î‡∏™‡πà‡∏ß‡∏ô‡∏ó‡∏µ‡πà‡∏´‡∏≤‡∏¢‡πÑ‡∏õ = (‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡∏´‡∏≤‡∏¢‡πÑ‡∏õ / 184) * 100
missing_report['‡∏™‡∏±‡∏î‡∏™‡πà‡∏ß‡∏ô‡∏ó‡∏µ‡πà‡∏´‡∏≤‡∏¢‡πÑ‡∏õ (%)'] = (missing_report['‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡∏´‡∏≤‡∏¢‡πÑ‡∏õ (‡∏ß‡∏±‡∏ô)'] / total_expected_days) * 100

# 5. ‡πÅ‡∏™‡∏î‡∏á‡∏ú‡∏•‡∏•‡∏±‡∏û‡∏ò‡πå
print(f"‚úÖ ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÉ‡∏ô‡∏ä‡πà‡∏ß‡∏á 184 ‡∏ß‡∏±‡∏ô (1 ‡∏Å.‡∏Ñ. - 31 ‡∏ò.‡∏Ñ. 2568)")
print("-" * 60)
print("üìä ‡∏£‡∏≤‡∏¢‡∏á‡∏≤‡∏ô‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏£‡∏≤‡∏¢‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ (‡∏£‡∏∞‡∏ö‡∏∏‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÅ‡∏•‡∏∞‡∏™‡∏±‡∏î‡∏™‡πà‡∏ß‡∏ô):")

# ‡∏õ‡∏£‡∏±‡∏ö‡∏Å‡∏≤‡∏£‡πÅ‡∏™‡∏î‡∏á‡∏ú‡∏•‡πÉ‡∏´‡πâ‡∏î‡∏π‡∏á‡πà‡∏≤‡∏¢‡∏Ç‡∏∂‡πâ‡∏ô
report_display = missing_report[['Node', '‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡∏´‡∏≤‡∏¢‡πÑ‡∏õ (‡∏ß‡∏±‡∏ô)', '‡∏™‡∏±‡∏î‡∏™‡πà‡∏ß‡∏ô‡∏ó‡∏µ‡πà‡∏´‡∏≤‡∏¢‡πÑ‡∏õ (%)']]
display(report_display.sort_values(by='‡∏™‡∏±‡∏î‡∏™‡πà‡∏ß‡∏ô‡∏ó‡∏µ‡πà‡∏´‡∏≤‡∏¢‡πÑ‡∏õ (%)', ascending=False).head(10))

# ‡∏™‡∏£‡∏∏‡∏õ‡∏†‡∏≤‡∏û‡∏£‡∏ß‡∏°
total_missing = missing_report['‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡∏´‡∏≤‡∏¢‡πÑ‡∏õ (‡∏ß‡∏±‡∏ô)'].sum()
print(f"\nüí° ‡∏™‡∏£‡∏∏‡∏õ‡∏†‡∏≤‡∏û‡∏£‡∏ß‡∏°: ‡∏ó‡∏∏‡∏Å‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏£‡∏ß‡∏°‡∏Å‡∏±‡∏ô‡∏°‡∏µ 'Record ‡∏ó‡∏µ‡πà‡∏´‡∏≤‡∏¢‡πÑ‡∏õ' ‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î {total_missing:,.0f} ‡∏ß‡∏±‡∏ô")

‚úÖ ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÉ‡∏ô‡∏ä‡πà‡∏ß‡∏á 184 ‡∏ß‡∏±‡∏ô (1 ‡∏Å.‡∏Ñ. - 31 ‡∏ò.‡∏Ñ. 2568)
------------------------------------------------------------
üìä ‡∏£‡∏≤‡∏¢‡∏á‡∏≤‡∏ô‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏£‡∏≤‡∏¢‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ (‡∏£‡∏∞‡∏ö‡∏∏‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÅ‡∏•‡∏∞‡∏™‡∏±‡∏î‡∏™‡πà‡∏ß‡∏ô):

       Node  ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡∏´‡∏≤‡∏¢‡πÑ‡∏õ (‡∏ß‡∏±‡∏ô)  ‡∏™‡∏±‡∏î‡∏™‡πà‡∏ß‡∏ô‡∏ó‡∏µ‡πà‡∏´‡∏≤‡∏¢‡πÑ‡∏õ (%)
19   BKK009                   184.0           100.000000
209  NPI002                   169.0            91.847826
357  WAN005                   148.0            80.434783
69   CHI010                   142.0            77.173913
78     CHNA                   138.0            75.000000
48     BPTG                   133.0            72.282609
21   BKK017                   131.0            71.195652
244    PSLT                   130.0            70.652174
377    YCUM                   128.0            69.565217
242  PRN001                   128.0            69.565217

üí° ‡∏™‡∏£‡∏∏‡∏õ‡∏†‡∏≤‡∏û‡∏£‡∏ß‡∏°: ‡∏ó‡∏∏‡∏Å‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏£‡∏ß‡∏°‡∏Å‡∏±‡∏ô‡∏°‡∏µ 'Record ‡∏ó‡∏µ‡πà‡∏´‡∏≤‡∏¢‡πÑ‡∏õ' ‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î 4,565 ‡∏ß‡∏±‡∏ô

# ‡∏Ñ‡∏±‡∏î‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ó‡∏µ‡πà‡∏°‡∏µ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏´‡∏≤‡∏¢ >=20% ‡∏≠‡∏≠‡∏Å ‡πÅ‡∏™‡∏î‡∏á‡∏£‡∏≤‡∏¢‡∏ä‡∏∑‡πà‡∏≠‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ó‡∏µ‡πà‡∏ñ‡∏π‡∏Å‡∏Ñ‡∏±‡∏î‡∏≠‡∏≠‡∏Å‡πÅ‡∏•‡∏∞‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ó‡∏µ‡πà‡πÄ‡∏´‡∏•‡∏∑‡∏≠

In [27]:
# 1. ‡∏Å‡∏≥‡∏´‡∏ô‡∏î‡πÄ‡∏Å‡∏ì‡∏ë‡πå‡∏Å‡∏≤‡∏£‡∏Ñ‡∏±‡∏î‡∏≠‡∏≠‡∏Å (Threshold)
threshold_percent = 20.0

# 2. ‡πÅ‡∏¢‡∏Å‡∏£‡∏≤‡∏¢‡∏ä‡∏∑‡πà‡∏≠‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ó‡∏µ‡πà‡∏ñ‡∏π‡∏Å‡∏Ñ‡∏±‡∏î‡∏≠‡∏≠‡∏Å (‡∏´‡∏≤‡∏¢ >= 20%)
removed_stations_df = missing_report[missing_report['‡∏™‡∏±‡∏î‡∏™‡πà‡∏ß‡∏ô‡∏ó‡∏µ‡πà‡∏´‡∏≤‡∏¢‡πÑ‡∏õ (%)'] >= threshold_percent]
removed_list = removed_stations_df['Node'].tolist()

# 3. ‡πÅ‡∏¢‡∏Å‡∏£‡∏≤‡∏¢‡∏ä‡∏∑‡πà‡∏≠‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ó‡∏µ‡πà‡∏ú‡πà‡∏≤‡∏ô‡πÄ‡∏Å‡∏ì‡∏ë‡πå (‡∏´‡∏≤‡∏¢ < 20%)
remaining_stations_df = missing_report[missing_report['‡∏™‡∏±‡∏î‡∏™‡πà‡∏ß‡∏ô‡∏ó‡∏µ‡πà‡∏´‡∏≤‡∏¢‡πÑ‡∏õ (%)'] < threshold_percent]
remaining_list = remaining_stations_df['Node'].tolist()

# 4. ‡πÅ‡∏™‡∏î‡∏á‡∏ú‡∏•‡∏•‡∏±‡∏û‡∏ò‡πå‡∏Å‡∏≤‡∏£‡∏Ñ‡∏±‡∏î‡∏≠‡∏≠‡∏Å
print(f"üö´ ‡πÄ‡∏Å‡∏ì‡∏ë‡πå‡∏Å‡∏≤‡∏£‡∏Ñ‡∏±‡∏î‡∏≠‡∏≠‡∏Å: ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ï‡∏±‡πâ‡∏á‡πÅ‡∏ï‡πà {threshold_percent}% ‡∏Ç‡∏∂‡πâ‡∏ô‡πÑ‡∏õ (‡∏´‡∏£‡∏∑‡∏≠‡∏´‡∏≤‡∏¢‡πÄ‡∏Å‡∏¥‡∏ô 37 ‡∏ß‡∏±‡∏ô‡∏à‡∏≤‡∏Å 184 ‡∏ß‡∏±‡∏ô)")
print("-" * 60)

print(f"‚ùå ‡∏£‡∏≤‡∏¢‡∏ä‡∏∑‡πà‡∏≠‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ó‡∏µ‡πà‡∏ñ‡∏π‡∏Å‡∏Ñ‡∏±‡∏î‡∏≠‡∏≠‡∏Å (‡∏à‡∏≥‡∏ô‡∏ß‡∏ô {len(removed_list)} ‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ):")
if len(removed_list) > 0:
    print(removed_list)
else:
    print("‡πÑ‡∏°‡πà‡∏°‡∏µ‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ó‡∏µ‡πà‡∏ñ‡∏π‡∏Å‡∏Ñ‡∏±‡∏î‡∏≠‡∏≠‡∏Å")

print("-" * 60)
print(f"‚úÖ ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ó‡∏µ‡πà‡∏Ñ‡∏á‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏™‡∏≥‡∏´‡∏£‡∏±‡∏ö‡∏Å‡∏≤‡∏£‡∏ß‡∏¥‡πÄ‡∏Ñ‡∏£‡∏≤‡∏∞‡∏´‡πå: {len(remaining_list)} ‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ")

# 5. ‡∏Å‡∏£‡∏≠‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏´‡∏•‡∏±‡∏Å (df_2025_filtered) ‡πÉ‡∏´‡πâ‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡πÄ‡∏â‡∏û‡∏≤‡∏∞‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ó‡∏µ‡πà‡∏ú‡πà‡∏≤‡∏ô‡πÄ‡∏Å‡∏ì‡∏ë‡πå‡πÄ‡∏ó‡πà‡∏≤‡∏ô‡∏±‡πâ‡∏ô
df_2025_step4 = df_2025_filtered[df_2025_filtered['station_id_final'].isin(remaining_list)].copy()

print(f"üí° ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏õ‡∏µ 2025 ‡∏û‡∏£‡πâ‡∏≠‡∏°‡∏™‡∏≥‡∏´‡∏£‡∏±‡∏ö‡∏Ç‡∏±‡πâ‡∏ô‡∏ï‡∏≠‡∏ô‡∏ñ‡∏±‡∏î‡πÑ‡∏õ (‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÅ‡∏ñ‡∏ß‡∏Ñ‡∏á‡πÄ‡∏´‡∏•‡∏∑‡∏≠: {len(df_2025_step4):,} ‡πÅ‡∏ñ‡∏ß)")

üö´ ‡πÄ‡∏Å‡∏ì‡∏ë‡πå‡∏Å‡∏≤‡∏£‡∏Ñ‡∏±‡∏î‡∏≠‡∏≠‡∏Å: ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ï‡∏±‡πâ‡∏á‡πÅ‡∏ï‡πà 20.0% ‡∏Ç‡∏∂‡πâ‡∏ô‡πÑ‡∏õ (‡∏´‡∏£‡∏∑‡∏≠‡∏´‡∏≤‡∏¢‡πÄ‡∏Å‡∏¥‡∏ô 37 ‡∏ß‡∏±‡∏ô‡∏à‡∏≤‡∏Å 184 ‡∏ß‡∏±‡∏ô)
------------------------------------------------------------
‚ùå ‡∏£‡∏≤‡∏¢‡∏ä‡∏∑‡πà‡∏≠‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ó‡∏µ‡πà‡∏ñ‡∏π‡∏Å‡∏Ñ‡∏±‡∏î‡∏≠‡∏≠‡∏Å (‡∏à‡∏≥‡∏ô‡∏ß‡∏ô 46 ‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ):
['BKHN', 'BKK009', 'BKK017', 'BLKO', 'BNGR', 'BNLG', 'BPTG', 'BSKJ', 'BSPN', 'CEHM', 'CGKM', 'CHI010', 'CHI013', 'CHNA', 'CPY010', 'CTKN', 'DCCT', 'DGSL', 'KKTO', 'KON005', 'LMSK', 'MEWG', 'MMMO', 'MNRM', 'NAPK', 'NASW', 'NEAK', 'NGCG', 'NGPI', 'NKSG', 'NNPT', 'NPI002', 'PAS008', 'PMPN', 'PRN001', 'PSLT', 'SGKW', 'SKE001', 'SKM004', 'SLA002', 'TPI007', 'TUKW', 'VLGE33', 'WAN005', 'YCUM', 'YOM001']
------------------------------------------------------------
‚úÖ ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ó‡∏µ‡πà‡∏Ñ‡∏á‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏™‡∏≥‡∏´‡∏£‡∏±‡∏ö‡∏Å‡∏≤‡∏£‡∏ß‡∏¥‡πÄ‡∏Ñ‡∏£‡∏≤‡∏∞‡∏´‡πå: 339 ‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ
üí° ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏õ‡∏µ 2025 ‡∏û‡∏£‡πâ‡∏≠‡∏°‡∏™‡∏≥‡∏´‡∏£‡∏±‡∏ö‡∏Ç‡∏±‡πâ‡∏ô‡∏ï‡∏≠‡∏ô‡∏ñ‡∏±‡∏î‡πÑ‡∏õ (‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÅ‡∏ñ‡∏ß‡∏Ñ‡∏á‡πÄ‡∏´‡∏•‡∏∑‡∏≠: 61,835 ‡πÅ‡∏ñ‡∏ß)

# ‡πÄ‡∏ï‡∏¥‡∏°‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏µ‡πà‡∏´‡∏≤‡∏¢‡πÑ‡∏õ‡∏î‡πâ‡∏ß‡∏¢‡∏Ñ‡πà‡∏≤ Median ‡∏ï‡∏≤‡∏° Day of Year ‡∏à‡∏≤‡∏Å historical ‡πÅ‡∏¢‡∏Å‡∏ï‡∏≤‡∏°‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏ß‡πà‡∏≤‡πÑ‡∏°‡πà‡∏°‡∏µ record ‡∏´‡∏≤‡∏¢‡∏≠‡∏µ‡∏Å

In [28]:
# --- 1. ‡πÄ‡∏ï‡∏£‡∏µ‡∏¢‡∏°‡∏Ñ‡πà‡∏≤ Median ‡∏à‡∏≤‡∏Å‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏¢‡πâ‡∏≠‡∏ô‡∏´‡∏•‡∏±‡∏á (Historical) ‡πÅ‡∏¢‡∏Å‡∏ï‡∏≤‡∏°‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡πÅ‡∏•‡∏∞‡∏ß‡∏±‡∏ô‡∏Ç‡∏≠‡∏á‡∏õ‡∏µ (Day of Year) ---
# ‡∏™‡∏£‡πâ‡∏≤‡∏á‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå Day of Year (1-366) ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡πÉ‡∏ä‡πâ‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡πÅ‡∏ó‡∏ô‡∏Ç‡∏≠‡∏á‡∏ß‡∏±‡∏ô‡πÉ‡∏ô‡∏£‡∏≠‡∏ö‡∏õ‡∏µ
df_hist_filtered['measure_datetime'] = pd.to_datetime(df_hist_filtered['measure_datetime'])
df_hist_filtered['doy'] = df_hist_filtered['measure_datetime'].dt.dayofyear

# ‡∏Ñ‡∏≥‡∏ô‡∏ß‡∏ì‡∏Ñ‡πà‡∏≤ Median ‡∏Ç‡∏≠‡∏á‡∏õ‡∏£‡∏¥‡∏°‡∏≤‡∏ì‡∏ù‡∏ô (data) ‡πÅ‡∏¢‡∏Å‡∏ï‡∏≤‡∏°‡∏£‡∏´‡∏±‡∏™‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ ‡πÅ‡∏•‡∏∞ Day of Year
# ‡∏´‡∏°‡∏≤‡∏¢‡πÄ‡∏´‡∏ï‡∏∏: ‡πÉ‡∏ô df_historical ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ù‡∏ô‡∏Ñ‡∏∑‡∏≠ 'data'
historical_median = df_hist_filtered.groupby(['station_code', 'doy'])['data'].median().reset_index()
historical_median.columns = ['Node', 'doy', 'median_rain']

# --- 2. ‡∏™‡∏£‡πâ‡∏≤‡∏á‡πÇ‡∏Ñ‡∏£‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏µ‡πà‡∏™‡∏°‡∏ö‡∏π‡∏£‡∏ì‡πå (184 ‡∏ß‡∏±‡∏ô) ‡∏™‡∏≥‡∏´‡∏£‡∏±‡∏ö‡∏ó‡∏∏‡∏Å‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ó‡∏µ‡πà‡∏ú‡πà‡∏≤‡∏ô‡πÄ‡∏Å‡∏ì‡∏ë‡πå ---
# ‡∏™‡∏£‡πâ‡∏≤‡∏á‡∏£‡∏≤‡∏¢‡∏Å‡∏≤‡∏£‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î 184 ‡∏ß‡∏±‡∏ô (‡∏Å.‡∏Ñ. - ‡∏ò.‡∏Ñ. 2025)
full_date_range = pd.date_range(start='2025-07-01', end='2025-12-31')

# ‡∏™‡∏£‡πâ‡∏≤‡∏á DataFrame ‡πÅ‡∏°‡πà‡πÅ‡∏ö‡∏ö‡∏ó‡∏µ‡πà‡∏°‡∏µ‡∏ó‡∏∏‡∏Å‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ (remaining_list) ‡πÅ‡∏•‡∏∞‡∏ó‡∏∏‡∏Å‡∏ß‡∏±‡∏ô (184 ‡∏ß‡∏±‡∏ô)
template = pd.MultiIndex.from_product([remaining_list, full_date_range], names=['Node', 'date_only']).to_frame(index=False)
template['date_only'] = template['date_only'].dt.date
template['doy'] = pd.to_datetime(template['date_only']).dt.dayofyear

# --- 3. ‡∏ô‡∏≥‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏õ‡∏µ 2025 ‡∏°‡∏≤‡∏ß‡∏≤‡∏á‡∏•‡∏á‡πÉ‡∏ô‡πÅ‡∏°‡πà‡πÅ‡∏ö‡∏ö ‡πÅ‡∏•‡∏∞‡πÄ‡∏ï‡∏¥‡∏°‡∏Ñ‡πà‡∏≤‡∏ó‡∏µ‡πà‡∏´‡∏≤‡∏¢‡∏î‡πâ‡∏ß‡∏¢ Median ---
# ‡πÄ‡∏ï‡∏£‡∏µ‡∏¢‡∏°‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• 2025 (‡πÉ‡∏ä‡πâ df_2025_step4 ‡∏à‡∏≤‡∏Å‡∏Ç‡∏±‡πâ‡∏ô‡∏ï‡∏≠‡∏ô‡∏ó‡∏µ‡πà 4)
df_2025_step4['date_only'] = pd.to_datetime(df_2025_step4['measure_datetime']).dt.date

# ‡∏£‡∏ß‡∏°‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• 2025 ‡πÄ‡∏Ç‡πâ‡∏≤‡∏Å‡∏±‡∏ö‡πÅ‡∏°‡πà‡πÅ‡∏ö‡∏ö (‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡πÉ‡∏î‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡∏´‡∏≤‡∏¢‡πÑ‡∏õ ‡πÅ‡∏ñ‡∏ß‡∏ô‡∏±‡πâ‡∏ô‡∏à‡∏∞‡πÄ‡∏õ‡πá‡∏ô NaN)
df_imputed = pd.merge(template, df_2025_step4[['station_id_final', 'date_only', 'rainfall_value']],
                      left_on=['Node', 'date_only'], right_on=['station_id_final', 'date_only'], how='left')

# ‡∏ô‡∏≥‡∏Ñ‡πà‡∏≤ Median ‡∏à‡∏≤‡∏Å Historical ‡∏°‡∏≤ Merge ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏£‡∏≠‡πÄ‡∏ï‡∏¥‡∏°
df_imputed = pd.merge(df_imputed, historical_median, on=['Node', 'doy'], how='left')

# ‡πÄ‡∏ï‡∏¥‡∏°‡∏Ñ‡πà‡∏≤‡∏ó‡∏µ‡πà‡∏´‡∏≤‡∏¢‡πÑ‡∏õ (NaN) ‡πÉ‡∏ô rainfall_value ‡∏î‡πâ‡∏ß‡∏¢‡∏Ñ‡πà‡∏≤ median_rain
# ‡∏´‡∏≤‡∏Å‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡πÉ‡∏î‡πÉ‡∏ô‡∏≠‡∏î‡∏µ‡∏ï‡πÑ‡∏°‡πà‡∏°‡∏µ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ß‡∏±‡∏ô‡∏ô‡∏±‡πâ‡∏ô ‡πÉ‡∏´‡πâ‡πÄ‡∏ï‡∏¥‡∏°‡∏î‡πâ‡∏ß‡∏¢ 0 (‡πÄ‡∏õ‡πá‡∏ô‡∏Å‡∏£‡∏ì‡∏µ‡∏ó‡∏µ‡πà‡∏û‡∏ö‡∏ô‡πâ‡∏≠‡∏¢‡∏°‡∏≤‡∏Å)
df_imputed['rainfall_value_imputed'] = df_imputed['rainfall_value'].fillna(df_imputed['median_rain']).fillna(0)

# --- 4. ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏Ñ‡∏ß‡∏≤‡∏°‡∏™‡∏°‡∏ö‡∏π‡∏£‡∏ì‡πå‡∏´‡∏•‡∏±‡∏á‡∏Å‡∏≤‡∏£‡πÄ‡∏ï‡∏¥‡∏°‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• ---
check_counts = df_imputed.groupby('Node').size()
missing_stations_after = check_counts[check_counts != 184]

print(f"‚úÖ ‡∏î‡∏≥‡πÄ‡∏ô‡∏¥‡∏ô‡∏Å‡∏≤‡∏£‡πÄ‡∏ï‡∏¥‡∏°‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏î‡πâ‡∏ß‡∏¢‡∏Ñ‡πà‡∏≤ Median (Day of Year) ‡πÄ‡∏™‡∏£‡πá‡∏à‡∏™‡∏¥‡πâ‡∏ô")
print("-" * 60)
print(f"üìä ‡∏ú‡∏•‡∏Å‡∏≤‡∏£‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏´‡∏•‡∏±‡∏á‡∏Å‡∏≤‡∏£‡πÄ‡∏ï‡∏¥‡∏°‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•:")
print(f"- ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ó‡∏µ‡πà‡∏î‡∏≥‡πÄ‡∏ô‡∏¥‡∏ô‡∏Å‡∏≤‡∏£: {len(check_counts)} ‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ")
print(f"- ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡∏ï‡πâ‡∏≠‡∏á‡∏°‡∏µ‡∏ï‡πà‡∏≠‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ: 184 ‡∏ß‡∏±‡∏ô")

if len(missing_stations_after) == 0:
    print(f"‚ú® ‡∏¢‡∏∑‡∏ô‡∏¢‡∏±‡∏ô: ‡∏ó‡∏∏‡∏Å‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏°‡∏µ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Ñ‡∏£‡∏ö 184 ‡∏ß‡∏±‡∏ô (‡πÑ‡∏°‡πà‡∏°‡∏µ Record ‡∏´‡∏≤‡∏¢‡∏≠‡∏µ‡∏Å‡πÅ‡∏•‡πâ‡∏ß)")
else:
    print(f"‚ö†Ô∏è ‡∏Ñ‡∏≥‡πÄ‡∏ï‡∏∑‡∏≠‡∏ô: ‡∏û‡∏ö {len(missing_stations_after)} ‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ó‡∏µ‡πà‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏¢‡∏±‡∏á‡πÑ‡∏°‡πà‡∏Ñ‡∏£‡∏ö")

# ‡∏™‡∏£‡∏∏‡∏õ‡∏†‡∏≤‡∏û‡∏£‡∏ß‡∏°‡∏õ‡∏£‡∏¥‡∏°‡∏≤‡∏ì‡∏ù‡∏ô‡∏ó‡∏µ‡πà‡∏ñ‡∏π‡∏Å‡πÄ‡∏ï‡∏¥‡∏°
imputed_count = df_imputed['rainfall_value'].isna().sum()
print(f"- ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô Record ‡∏ó‡∏µ‡πà‡∏ñ‡∏π‡∏Å‡πÄ‡∏ï‡∏¥‡∏°‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• (Imputed): {imputed_count:,} ‡∏£‡∏≤‡∏¢‡∏Å‡∏≤‡∏£")
print("-" * 60)

# ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏±‡∏ß‡∏≠‡∏¢‡πà‡∏≤‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏µ‡πà‡πÄ‡∏ï‡∏¥‡∏°‡πÅ‡∏•‡πâ‡∏ß
display(df_imputed[['Node', 'date_only', 'rainfall_value', 'median_rain', 'rainfall_value_imputed']].head())

‚úÖ ‡∏î‡∏≥‡πÄ‡∏ô‡∏¥‡∏ô‡∏Å‡∏≤‡∏£‡πÄ‡∏ï‡∏¥‡∏°‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏î‡πâ‡∏ß‡∏¢‡∏Ñ‡πà‡∏≤ Median (Day of Year) ‡πÄ‡∏™‡∏£‡πá‡∏à‡∏™‡∏¥‡πâ‡∏ô
------------------------------------------------------------
üìä ‡∏ú‡∏•‡∏Å‡∏≤‡∏£‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏´‡∏•‡∏±‡∏á‡∏Å‡∏≤‡∏£‡πÄ‡∏ï‡∏¥‡∏°‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•:
- ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏ó‡∏µ‡πà‡∏î‡∏≥‡πÄ‡∏ô‡∏¥‡∏ô‡∏Å‡∏≤‡∏£: 339 ‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ
- ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡∏ï‡πâ‡∏≠‡∏á‡∏°‡∏µ‡∏ï‡πà‡∏≠‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ: 184 ‡∏ß‡∏±‡∏ô
‚ú® ‡∏¢‡∏∑‡∏ô‡∏¢‡∏±‡∏ô: ‡∏ó‡∏∏‡∏Å‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡∏°‡∏µ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Ñ‡∏£‡∏ö 184 ‡∏ß‡∏±‡∏ô (‡πÑ‡∏°‡πà‡∏°‡∏µ Record ‡∏´‡∏≤‡∏¢‡∏≠‡∏µ‡∏Å‡πÅ‡∏•‡πâ‡∏ß)
- ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô Record ‡∏ó‡∏µ‡πà‡∏ñ‡∏π‡∏Å‡πÄ‡∏ï‡∏¥‡∏°‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• (Imputed): 541 ‡∏£‡∏≤‡∏¢‡∏Å‡∏≤‡∏£
------------------------------------------------------------

   Node   date_only  rainfall_value  median_rain  rainfall_value_imputed
0  ACRU  2025-07-01             0.0          0.0                     0.0
1  ACRU  2025-07-02             0.0          0.1                     0.0
2  ACRU  2025-07-03             0.8          0.0                     0.8
3  ACRU  2025-07-04             0.0          0.3                     0.0
4  ACRU  2025-07-05             9.8          0.0                     9.8

# ‡∏≠‡∏†‡∏¥‡∏õ‡∏£‡∏≤‡∏¢: ‡πÄ‡∏´‡∏ï‡∏∏‡πÉ‡∏î‡πÉ‡∏ä‡πâ Median ‡πÅ‡∏ó‡∏ô Mean?

‡∏Å‡∏≤‡∏£‡πÉ‡∏ä‡πâ‡∏Ñ‡πà‡∏≤ Median ‡∏°‡∏µ‡∏Ñ‡∏ß‡∏≤‡∏°‡πÄ‡∏´‡∏°‡∏≤‡∏∞‡∏™‡∏°‡∏Å‡∏ß‡πà‡∏≤‡∏Ñ‡πà‡∏≤ Mean ‡πÄ‡∏ô‡∏∑‡πà‡∏≠‡∏á‡∏à‡∏≤‡∏Å‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ô‡πâ‡∏≥‡∏ù‡∏ô‡∏°‡∏µ‡∏•‡∏±‡∏Å‡∏©‡∏ì‡∏∞‡∏Å‡∏≤‡∏£‡∏Å‡∏£‡∏∞‡∏à‡∏≤‡∏¢‡∏ï‡∏±‡∏ß‡πÅ‡∏ö‡∏ö‡πÄ‡∏ö‡πâ‡∏Ç‡∏ß‡∏≤‡πÅ‡∏•‡∏∞‡∏°‡∏±‡∏Å‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏∏‡∏î‡πÇ‡∏ï‡πà‡∏á (Extreme rainfall) ‡∏ã‡∏∂‡πà‡∏á‡∏Ñ‡πà‡∏≤ Median ‡∏°‡∏µ‡∏Ñ‡∏ß‡∏≤‡∏°‡∏ó‡∏ô‡∏ó‡∏≤‡∏ô‡∏ï‡πà‡∏≠‡∏Ñ‡πà‡∏≤‡∏ú‡∏¥‡∏î‡∏õ‡∏Å‡∏ï‡∏¥‡πÄ‡∏´‡∏•‡πà‡∏≤‡∏ô‡∏µ‡πâ‡πÑ‡∏î‡πâ‡∏î‡∏µ‡∏Å‡∏ß‡πà‡∏≤ ‡∏ó‡∏≥‡πÉ‡∏´‡πâ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏µ‡πà‡∏ñ‡∏π‡∏Å‡πÄ‡∏ï‡∏¥‡∏°‡∏•‡∏á‡πÑ‡∏õ‡∏°‡∏µ‡∏Ñ‡∏ß‡∏≤‡∏°‡∏ô‡πà‡∏≤‡πÄ‡∏ä‡∏∑‡πà‡∏≠‡∏ñ‡∏∑‡∏≠‡πÅ‡∏•‡∏∞‡∏™‡∏∞‡∏ó‡πâ‡∏≠‡∏ô‡∏™‡∏†‡∏≤‡∏ß‡∏∞‡∏≠‡∏≤‡∏Å‡∏≤‡∏®‡∏õ‡∏Å‡∏ï‡∏¥‡∏Ç‡∏≠‡∏á‡πÅ‡∏ï‡πà‡∏•‡∏∞‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà‡πÑ‡∏î‡πâ‡∏≠‡∏¢‡πà‡∏≤‡∏á‡πÅ‡∏°‡πà‡∏ô‡∏¢‡∏≥

# ‡∏Ñ‡∏≥‡∏ô‡∏ß‡∏ì‡∏ú‡∏•‡∏£‡∏ß‡∏°‡∏õ‡∏£‡∏¥‡∏°‡∏≤‡∏ì‡∏ô‡πâ‡∏≥‡∏ù‡∏ô‡∏£‡∏≤‡∏¢‡πÄ‡∏î‡∏∑‡∏≠‡∏ô ‡∏à‡∏±‡∏î‡∏£‡∏π‡∏õ‡πÅ‡∏ö‡∏ö‡πÉ‡∏´‡πâ‡∏ï‡∏£‡∏á‡∏Å‡∏±‡∏ö output_monthly_rainfall.csv

In [35]:
from google.colab import files
import pandas as pd

# 1. ‡∏à‡∏±‡∏î‡πÄ‡∏ï‡∏£‡∏µ‡∏¢‡∏°‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà (‡∏î‡∏∂‡∏á‡∏õ‡∏µ‡πÅ‡∏•‡∏∞‡πÄ‡∏î‡∏∑‡∏≠‡∏ô)
df_imputed['date_dt'] = pd.to_datetime(df_imputed['date_only'])
df_imputed['Year'] = df_imputed['date_dt'].dt.year
df_imputed['Month'] = df_imputed['date_dt'].dt.month

# 2. ‡∏£‡∏ß‡∏°‡∏ú‡∏•‡∏£‡∏ß‡∏°‡∏õ‡∏£‡∏¥‡∏°‡∏≤‡∏ì‡∏ô‡πâ‡∏≥‡∏ù‡∏ô‡∏£‡∏≤‡∏¢‡πÄ‡∏î‡∏∑‡∏≠‡∏ô
# ‡∏ú‡∏•‡∏•‡∏±‡∏û‡∏ò‡πå‡πÄ‡∏ö‡∏∑‡πâ‡∏≠‡∏á‡∏ï‡πâ‡∏ô‡∏à‡∏∞‡∏°‡∏µ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå: Node, Year, Month, rainfall_value_imputed
monthly_output = df_imputed.groupby(['Node', 'Year', 'Month'])['rainfall_value_imputed'].sum().reset_index()

# 3. ‡πÄ‡∏£‡∏µ‡∏¢‡∏á‡∏•‡∏≥‡∏î‡∏±‡∏ö‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ï‡∏≤‡∏°‡∏™‡∏ñ‡∏≤‡∏ô‡∏µ‡πÅ‡∏•‡∏∞‡πÄ‡∏ß‡∏•‡∏≤‡πÉ‡∏´‡πâ‡πÄ‡∏£‡∏µ‡∏¢‡∏ö‡∏£‡πâ‡∏≠‡∏¢‡∏Å‡πà‡∏≠‡∏ô‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡∏ä‡∏∑‡πà‡∏≠
monthly_output = monthly_output.sort_values(by=['Node', 'Year', 'Month'])

# 4. ‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡∏ä‡∏∑‡πà‡∏≠‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡πÅ‡∏•‡∏∞‡∏à‡∏±‡∏î‡∏•‡∏≥‡∏î‡∏±‡∏ö‡πÉ‡∏´‡∏°‡πà‡∏ï‡∏≤‡∏°‡∏ó‡∏µ‡πà‡∏ï‡πâ‡∏≠‡∏á‡∏Å‡∏≤‡∏£ (Node, rain, month, year)
# ‡∏Ç‡∏±‡πâ‡∏ô‡πÅ‡∏£‡∏Å: ‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡∏ä‡∏∑‡πà‡∏≠‡πÉ‡∏´‡πâ‡∏ï‡∏£‡∏á‡∏Ñ‡∏ß‡∏≤‡∏°‡∏ï‡πâ‡∏≠‡∏á‡∏Å‡∏≤‡∏£
monthly_output = monthly_output.rename(columns={
    'rainfall_value_imputed': 'rain',
    'Month': 'month',
    'Year': 'year'
})

# ‡∏Ç‡∏±‡πâ‡∏ô‡∏ó‡∏µ‡πà‡∏™‡∏≠‡∏á: ‡∏à‡∏±‡∏î‡∏•‡∏≥‡∏î‡∏±‡∏ö‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡πÉ‡∏´‡∏°‡πà‡πÄ‡∏õ‡πá‡∏ô Node, rain, month, year
monthly_output = monthly_output[['Node', 'rain', 'month', 'year']]

# 5. ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏±‡∏ß‡∏≠‡∏¢‡πà‡∏≤‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏Ñ‡∏ß‡∏≤‡∏°‡∏ñ‡∏π‡∏Å‡∏ï‡πâ‡∏≠‡∏á
print("‚úÖ ‡∏à‡∏±‡∏î‡∏£‡∏π‡∏õ‡πÅ‡∏ö‡∏ö‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏™‡∏≥‡πÄ‡∏£‡πá‡∏à: Node, rain, month, year")
print("-" * 60)
display(monthly_output.head(12))

# 6. ‡∏ö‡∏±‡∏ô‡∏ó‡∏∂‡∏Å‡∏ú‡∏•‡∏≠‡∏≠‡∏Å‡πÄ‡∏õ‡πá‡∏ô‡πÑ‡∏ü‡∏•‡πå CSV ‡πÅ‡∏•‡∏∞‡∏î‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏´‡∏•‡∏î
output_filename = 'output_monthly_rainfall.csv'
monthly_output.to_csv(output_filename, index=False)
files.download(output_filename)

print("-" * 60)
print(f"üíæ ‡∏ö‡∏±‡∏ô‡∏ó‡∏∂‡∏Å‡πÅ‡∏•‡∏∞‡πÄ‡∏£‡∏¥‡πà‡∏°‡∏î‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏´‡∏•‡∏î‡πÑ‡∏ü‡∏•‡πå: {output_filename}")

‚úÖ ‡∏à‡∏±‡∏î‡∏£‡∏π‡∏õ‡πÅ‡∏ö‡∏ö‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏™‡∏≥‡πÄ‡∏£‡πá‡∏à: Node, rain, month, year
------------------------------------------------------------

    Node   rain  month  year
0   ACRU   83.0      7  2025
1   ACRU  164.8      8  2025
2   ACRU  248.6      9  2025
3   ACRU   48.4     10  2025
4   ACRU   52.2     11  2025
5   ACRU    0.2     12  2025
6   BBHN  391.6      7  2025
7   BBHN  641.2      8  2025
8   BBHN  517.6      9  2025
9   BBHN  198.8     10  2025
10  BBHN  224.0     11  2025
11  BBHN    5.8     12  2025

------------------------------------------------------------
üíæ ‡∏ö‡∏±‡∏ô‡∏ó‡∏∂‡∏Å‡πÅ‡∏•‡∏∞‡πÄ‡∏£‡∏¥‡πà‡∏°‡∏î‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏´‡∏•‡∏î‡πÑ‡∏ü‡∏•‡πå: output_monthly_rainfall.csv

# ‡πÑ‡∏ü‡∏•‡πå‡∏ó‡∏µ‡πà‡∏ï‡πâ‡∏≠‡∏á‡∏™‡πà‡∏á

-[‡πÑ‡∏ü‡∏•‡πå‡∏ú‡∏•‡∏•‡∏±‡∏û‡∏ò‡πå‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏£‡∏≤‡∏¢‡πÄ‡∏î‡∏∑‡∏≠‡∏ô](https://drive.google.com/file/d/1vMh_4fbEnxpz5Q8WDhl5zU8JcxG2rQVI/view?usp=sharing)

-[AI Prompt](https://drive.google.com/file/d/1FXh8U6Q83MHRWbmEWsq8thQHEqaHwABy/view?usp=sharing)

-[Google drive ‡∏£‡∏ß‡∏°‡πÑ‡∏ü‡∏•‡πå](https://drive.google.com/drive/folders/16i0bFnMstuhhL_6i87vu4dOa-vD6HwuP?usp=sharing)